@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-wave {
  animation: wave 500ms cubic-bezier(0, 0, 0.2, 1); 
  animation-delay: 1s;
}


@keyframes wave {
  0% {
    transform: rotate(0);
  }
  
  50% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}