.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown blockquote {
  @apply px-4 py-1 italic bg-gray-500 bg-opacity-10 rounded;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown ul {
  @apply list-inside list-disc px-8 space-y-4;
}

.markdown a {
  @apply text-indigo-500 italic;
}

.markdown a:hover {
  @apply underline;
}

.markdown pre {
  @apply overflow-auto bg-gray-800 p-4 rounded-md text-white;
}

.markdown pre code {
  @apply font-mono;
}

.markdown table {
  @apply block w-full max-w-full overflow-x-auto border-collapse my-8 text-base;
}

.markdown thead {
  @apply border-b border-gray-300 dark:border-neutral-700;
}

.markdown tbody tr {
  @apply border-b border-gray-200 dark:border-neutral-800;
}

.markdown tbody tr:nth-child(even) {
  @apply bg-gray-500 bg-opacity-5;
}

.markdown th {
  @apply text-left font-semibold px-4 py-3 align-top;
}

.markdown td {
  @apply px-4 py-3 align-top;
}
